<form action = "/library/update" method = "post">
  <p><%= name %></p>
  <p>Change your Library name here: </p>
  <br />
  <input type="text" name="name">
  <input type="submit" name="enter" value="edit">
</form>
<form action = "/library/destroy" method = "post">
  <input type="submit" name="delete" value="delete">
</form>
