   <% library.each do |lib| %>
   <form action = "/library/edit" method = "post">
     <%= lib.name %>
     <br/>
     <input type="submit" value="edit" name="<%= lib.name %>">
   </form>
   <% end  %>
