<div>
   <p>Welcome to the BlocBooks Library!</p>
   <p>Add a new Library below:</p>

   <form>
     Library Name: <br />
     <input type="text" name="name">
     <input type="submit" name="enter">
   </form>


 </div>
